body {
  font-family: Verdana, sans-serif;
}

header {
  position: sticky;
  top: 0;
  width: 30%;
  min-width: 400px;
  background-color: lightgray;
  border-radius: 4px;
  padding: 2em;
  z-index: 2;
}

#loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
  display: block;
  margin: auto;
  margin-top: 1em;
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#errorMessage {
  visibility: hidden;
  color: red;
}

#graph {
  position: absolute;
  top: 0;
}
